.top-menu {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 30px;
  width: 30px;
  display: flex;
  z-index: 500;
  transition: all 1s linear;
  &__icon {
    border-radius: 50%;
    background: #EA3F3F;
    padding: 5px;
    transition: all .5s linear;
    cursor: pointer;
    img {
      height: 20px;
      object-fit: cover;
      vertical-align: top;
    }
    &:hover {
      transform: rotate(90deg);
      box-shadow: 0 0 5px 3px rgba(234, 63, 63, .8);
    }
  }
  &__content {
    height: 1px;
    width: 1px;
    opacity: 0;
    z-index: 500;
  }
}
.menu-box {
  position: absolute;
  width: 300px;
  height: 300px;
  background: #f4f4f4;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all .5s linear;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 10px 0;
  &__close {
    position: absolute;
    top: 3px;
    right: 3px;
    height: 15px;
    width: 15px;
    cursor: pointer;
  }
  &.open {
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1 !important;
    background: #f4f4f4;
    z-index: 600;
  }
  &__title {
    width: 300px;
    text-align: center;
  }
  &__item {
    text-align: center;
    margin: 10px 0;
    & button {
      width: 250px;
      & span {
        color: #ffffff;
      }      
    }
    &:nth-child(3) {
      & button {
        background: #f2994a;
        &:hover {
          background: lighten(#f2994a, 5%);
        }
      }
    }
    &:nth-child(4) {
      & button {
        background: #D63F3F;
        &:hover {
          background: lighten(#D63F3F, 5%);
        }
      }
    }
    &:nth-child(5) {
      & button {
        background: #4F4F4F;
        &:hover {
          background: lighten(#4F4F4F, 5%);
        }
      }
    }
    &:nth-child(6) {
      & button {
        background: #50BD5B;
        &:hover {
          background: lighten(#50BD5B, 5%);
        }
      }
    }
  }
}
@keyframes top-menu {
  0% {
    top: 10px;
    right: 10px;
  }
  20% {
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%) !important;
    .top-menu__content {
      height: 1px;
      width: 1px;
      opacity: 0;
    }
  }
  40% {
    .top-menu__content {
      height: 300px !important;
      width: 200px !important;
      opacity: 1 !important;
      background: #f4f4f4;
    }
  }
}